.SignUp__container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(86, 182, 220, 1);
  background: linear-gradient(
    90deg,
    rgba(86, 182, 220, 1) 9%,
    rgba(49, 233, 129, 1) 100%
  );
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
